extension/*
!extension/config.m4
!extension/Makefile.local
!extension/php_xhprof.h
!extension/tests/
!extension/xhprof.c

extension/tests/*.sh
extension/tests/*.exp
extension/tests/*.out
extension/tests/*.diff
extension/tests/*.log
extension/tests/*.php

support/libxhprof/.phutil_module_cache
